﻿<div class="bcg-cover"
     *ngIf="visible && style.indexOf('overlay')> -1"
     [@animationState2]>

</div>
<section [class.container]="style.indexOf('overlay')> -1">
    <div [ngClass]="style"
         class="callout"
         *ngIf="visible"
         [class.msg]="style.indexOf('overlay')== -1"
         [@animationState]>

        <i class="close-btn round-badge"
           *ngIf="btnClose=='Close'"
           (click)="close()">close</i>
        <div class="title text-center"
             *ngIf="title">
            <h5>{{title}}</h5>
            <hr *ngIf="message" />
        </div>
        <main>
            <p class="icon"
               *ngIf="style.indexOf('icon')> -1"></p>
            <div>
                <p [innerHTML]="message"></p>

                <small class='hint' *ngIf="hint"> Hint: {{hint}}</small>
            </div>
        </main>
        <footer *ngIf="btnName || (btnClose && btnClose != 'Close')"
                class="text-right">
            <hr *ngIf=false/>
            <button type="button"
                    *ngIf="btnClose && btnClose != 'Close'"
                    class="button close-btn secondary"
                    (click)="close()">{{btnClose}}
            </button>
            <button type="button"
                    *ngIf="btnName"
                    class="button ftn"
                    (click)="btnAction();close()">{{btnName}}
            </button>
        </footer>
    </div>

</section>
