﻿//<reference path='/node_modules/ugridd-less-lib/less/lib-share/rulesets-mixin/box-elevation-shadow.mixin.less'/>
@import '~ugridd-less-lib/less/lib-share/rulesets-mixin/box-elevation-shadow.mixin.less';
@import '~ugridd-less-lib/less/lib-share/rulesets-mixin/animation.ruleset.less';
section.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; // background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.bcg-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0px;
    right: 0px;
    z-index: 999;
}

.callout {
    padding: 1.5rem 3rem 1.125rem 3rem;
    background-color: #FFF;
    min-width: 20rem;
    max-width: 500px;
    border: 0;
    border-top: 5px solid transparent;
    border-radius: 2px;
    &.msg {
        .elevation-z(24);
        border-top: 2px solid #06D6FF;
        position: fixed;
        left: 50%;
        top: 5rem;
        max-width: 500px;
        min-width: 20rem;
        transform: translate(-50%, 0);
        border-radius: 2px;
        .close-btn.round-badge {
            background-color: #C6C6C6;
            color: #FFF;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            margin: 0.2rem 0.5rem;
            font-size: 0.8rem;
            text-align: center;
            cursor: pointer; //  .elevation-z(2);
            &:hover {
                background-color: #f04124;
                .elevation-z(8);
            }
        }
    }
    &.icon {
        &.overlay {
            max-width: 650px!important;
        }
        main {
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
                display: block;
                flex-grow: 1; // min-width: 400px;
            }
        }
        p.icon {
            width: 150px;
            min-width: 150px;
            height: 150px;
            flex-grow: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 60%;
            background-image: url('./image/traffic-light.svg');
        }

    }
    &.overlay {
        flex: none;
        max-width: 500px; // zoom: 2;
        z-index: 999;
        min-width: 20rem;
        .elevation-z(24);
    }
    &.alert {
        border-top-color: #f04124;
        .button.ftn {
            background-color: #f04124;
        }
    }
    &.success {
        border-top-color: #3adb76;
        .button.ftn {
            background-color: #3adb76;
        }
    }
    &.warning {
        border-top-color: rgb(255, 140, 3);
        .button.ftn {
            background-color: rgb(255, 140, 3);
        }
    }
    &.solid {
        color: #FFF;
        background-color: #06D6FF;
        .button.ftn {
            background-color: #FFF;
            border-color: #FFF;
            color: #06D6FF;
            font-weight: 600;
        }
        hr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        &.icon {
            p.icon {
                background-color: rgba(254, 254, 254, 0.7);
                border-radius: 50%;
                margin-right: 3rem
            }
        }
        &.alert {
            background-color: #f04124;
            .button.ftn {
                color: #f04124;
            }
        }
        &.success {
            background-color: #3adb76;
            .button.ftn {
                color: #3adb76;
            }
            p.icon {
                background-color: rgba(254, 254, 254, 1);
            }
        }
        &.warning {
            background-color: rgb(255, 140, 3);
            .button.ftn {
                color: rgb(255, 140, 3);
            }
        }
    }
    &.icon {
        &.overlay {
            max-width: 650px!important;
        }
        main {
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
                display: block;
                flex-grow: 1; // min-width: 400px;
            }
            p.icon {
                width: 150px;
                min-width: 150px;
                height: 150px;
                flex-grow: 0;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 60%;
            }
        }
        &.alert {
            p.icon {
                background-image: url('./image/bell.svg');
            }
        }
        &.success {
            p.icon {
                background-image: url('./image/checked.svg');
            }
        }
        &.warning {
            p.icon {
                background-image: url('./image/warning.svg');
            }
        }
    }
    .round-badge {
        font-family: 'Material Icons';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        line-height: 40px;
        display: inline-block;
        width: 40px;
        height: 40px;
        transition: all;
        @Standard_curve();
        .duration_r(normal);
        /* Preferred icon size */
        text-transform: none;
        word-wrap: normal;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 24px;
        direction: ltr;
        /* Support for IE. */
        font-feature-settings: 'liga';
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        &:hover {
            transform: scale(1.2);
        }
    }
    footer {
        .button {
            margin-bottom: 0;
        }
    }
    .close-btn.round-badge {
        position: absolute;
        right: 0px;
        top: 5px;
        cursor: pointer; //  .elevation-z(2);
    }
    .button {
        min-width: 128px;
        margin-left: 2rem;
        .light-shadow();
        &.secondary {
            background-color: #BBBBBB;
        }
    }
    small.hint {
        margin-bottom: 1rem;
        position: relative;
        top: -1rem;
        font-style: italic;
    }
}
