<!--The content below is only a placeholder and can be replaced.-->
<div class='text-center'>
    <h1>
    Welcome to ng2 pop box

    <br/>
    <br/>
    <br/>
  </h1>

    <div class="row align-justify text-left">

        <div class="columns small-5 text-left">
            * Show message box with full parameter support
            <ul>
                <li> @param message message text </li>
                <li> @param title title of the box
                </li>
                <li> @param hint a small message shown as a hint * @param style pre-defined style array </li>
                <li> @param duration wait how many seconds to auto close this box. Default 0 to disable auto close. </li>
                <li> @param btnClose name of the close button. Default "Close". Set to empty to hide close button </li>
                <li> @param btnName name of the additional button </li>
                <li> @param btnAction function blinded to the additional button
                </li>
            </ul>
        </div>
        <div class="columns small-5 ">


            <label>
                Message:
                <textarea placeholder="None"
                          [(ngModel)]="_message"
                          style='height:80px;'></textarea>
            </label>
            <hr>
            <div class="row">
                <div class="columns small-4">
                    <label>Message box title
                        <input type="text"
                               [(ngModel)]="_title">
                    </label>
                </div>
                <div class="columns ">
                    <label>
                        Hint:
                        <textarea placeholder="None"
                                  [(ngModel)]="_hint"></textarea>
                    </label>
                </div>
            </div>


            <legend>Additional css class</legend>
            <ng-container *ngFor="let item of style">
                <input [id]="item.className"
                       type="checkbox"
                       [(ngModel)]='item.value'>
                <label for="item">{{item.className}}</label>
            </ng-container>
            <hr>
            <div class="row align-justify">
                <div class="columns small-6">
                    <label>
                        Close the message box after X ms
                        <input type="number"
                               value="0"
                               [(ngModel)]=" _duration">
                    </label>
                </div>
                <div class="columns small-6">
                    <label> Close button text
                        <input type="text"
                               [(ngModel)]=" _btnClose">
                    </label>
                </div>
                <div class="columns small-6">
                    <label> function button text
                        <input type="text"
                               [(ngModel)]="  _btnName">
                    </label>
                </div>
            </div>



            <label> function button Action
                <textarea type="text"
                          [(ngModel)]="  _btnActionText"></textarea>
            </label>
            <button class='button'
                    (click)='apply()'>apply</button>
        </div>

    </div>

</div>
<error-box></error-box>




<child></child>

<error-box></error-box>
