! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scsshtml {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

figcaption,
figure {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

main {
    display: block
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

input {
    overflow: visible
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

details {
    display: block
}

summary {
    display: list-item
}

menu {
    display: block
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

.foundation-mq {
    font-family: "small=0em&medium=40em&large=64em"
}

html {
    box-sizing: border-box;
    font-size: 100%
}

*,
*::before,
*::after {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: "open sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic
}

textarea {
    height: auto;
    min-height: 50px;
    border-radius: 2px
}

select {
    box-sizing: border-box;
    width: 100%;
    border-radius: 2px
}

.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
    max-width: none !important
}

button {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 2px;
    background: transparent;
    line-height: 1
}

[data-whatinput='mouse'] button {
    outline: 0
}

pre {
    overflow: auto
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit
}

.is-visible {
    display: block !important
}

.is-hidden {
    display: none !important
}

.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.row .row {
    margin-right: -.625rem;
    margin-left: -.625rem
}

@media print,
screen and (min-width: 40em) {
    .row .row {
        margin-right: -.9375rem;
        margin-left: -.9375rem
    }
}

@media print,
screen and (min-width: 64em) {
    .row .row {
        margin-right: -.9375rem;
        margin-left: -.9375rem
    }
}

.row .row.collapse {
    margin-right: 0;
    margin-left: 0
}

.row.expanded {
    max-width: none
}

.row.expanded .row {
    margin-right: auto;
    margin-left: auto
}

.row:not(.expanded) .row {
    max-width: none
}

.row.collapse>.column,
.row.collapse>.columns {
    padding-right: 0;
    padding-left: 0
}

.row.is-collapse-child,
.row.collapse>.column>.row,
.row.collapse>.columns>.row {
    margin-right: 0;
    margin-left: 0
}

.column,
.columns {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    padding-right: .625rem;
    padding-left: .625rem;
    min-width: 0
}

@media print,
screen and (min-width: 40em) {
    .column,
    .columns {
        padding-right: .9375rem;
        padding-left: .9375rem
    }
}

.column.row.row,
.row.row.columns {
    float: none;
    display: block
}

.row .column.row.row,
.row .row.row.columns {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

.small-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.small-offset-0 {
    margin-left: 0%
}

.small-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.small-offset-1 {
    margin-left: 8.33333%
}

.small-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.small-offset-2 {
    margin-left: 16.66667%
}

.small-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.small-offset-3 {
    margin-left: 25%
}

.small-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.small-offset-4 {
    margin-left: 33.33333%
}

.small-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.small-offset-5 {
    margin-left: 41.66667%
}

.small-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.small-offset-6 {
    margin-left: 50%
}

.small-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.small-offset-7 {
    margin-left: 58.33333%
}

.small-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.small-offset-8 {
    margin-left: 66.66667%
}

.small-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.small-offset-9 {
    margin-left: 75%
}

.small-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.small-offset-10 {
    margin-left: 83.33333%
}

.small-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.small-offset-11 {
    margin-left: 91.66667%
}

.small-up-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-1>.column,
.small-up-1>.columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.small-up-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-2>.column,
.small-up-2>.columns {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.small-up-3 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-3>.column,
.small-up-3>.columns {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.small-up-4 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-4>.column,
.small-up-4>.columns {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.small-up-5 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-5>.column,
.small-up-5>.columns {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.small-up-6 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-6>.column,
.small-up-6>.columns {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.small-up-7 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-7>.column,
.small-up-7>.columns {
    -ms-flex: 0 0 14.28571%;
    flex: 0 0 14.28571%;
    max-width: 14.28571%
}

.small-up-8 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.small-up-8>.column,
.small-up-8>.columns {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%
}

.small-collapse>.column,
.small-collapse>.columns {
    padding-right: 0;
    padding-left: 0
}

.small-uncollapse>.column,
.small-uncollapse>.columns {
    padding-right: .625rem;
    padding-left: .625rem
}

@media print,
screen and (min-width: 40em) {
    .medium-1 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .medium-offset-0 {
        margin-left: 0%
    }
    .medium-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .medium-offset-1 {
        margin-left: 8.33333%
    }
    .medium-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .medium-offset-2 {
        margin-left: 16.66667%
    }
    .medium-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .medium-offset-3 {
        margin-left: 25%
    }
    .medium-5 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .medium-offset-4 {
        margin-left: 33.33333%
    }
    .medium-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .medium-offset-5 {
        margin-left: 41.66667%
    }
    .medium-7 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .medium-offset-6 {
        margin-left: 50%
    }
    .medium-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .medium-offset-7 {
        margin-left: 58.33333%
    }
    .medium-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .medium-offset-8 {
        margin-left: 66.66667%
    }
    .medium-10 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .medium-offset-9 {
        margin-left: 75%
    }
    .medium-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .medium-offset-10 {
        margin-left: 83.33333%
    }
    .medium-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .medium-offset-11 {
        margin-left: 91.66667%
    }
    .medium-up-1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-1>.column,
    .medium-up-1>.columns {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .medium-up-2 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-2>.column,
    .medium-up-2>.columns {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .medium-up-3 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-3>.column,
    .medium-up-3>.columns {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .medium-up-4 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-4>.column,
    .medium-up-4>.columns {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .medium-up-5 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-5>.column,
    .medium-up-5>.columns {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .medium-up-6 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-6>.column,
    .medium-up-6>.columns {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .medium-up-7 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-7>.column,
    .medium-up-7>.columns {
        -ms-flex: 0 0 14.28571%;
        flex: 0 0 14.28571%;
        max-width: 14.28571%
    }
    .medium-up-8 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medium-up-8>.column,
    .medium-up-8>.columns {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%
    }
}

@media print,
screen and (min-width: 40em) and (min-width: 40em) {
    .medium-expand {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
}

.row.small-unstack>.column,
.row.small-unstack>.columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px
}

@media print,
screen and (min-width: 40em) {
    .small-collapse>.column,
    .small-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .small-uncollapse>.column,
    .small-uncollapse>.columns {
        padding-right: .625rem;
        padding-left: .625rem
    }
}

@media print,
screen and (min-width: 64em) {
    .large-1 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .large-offset-0 {
        margin-left: 0%
    }
    .large-2 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .large-offset-1 {
        margin-left: 8.33333%
    }
    .large-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .large-offset-2 {
        margin-left: 16.66667%
    }
    .large-4 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .large-offset-3 {
        margin-left: 25%
    }
    .large-5 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .large-offset-4 {
        margin-left: 33.33333%
    }
    .large-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .large-offset-5 {
        margin-left: 41.66667%
    }
    .large-7 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .large-offset-6 {
        margin-left: 50%
    }
    .large-8 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .large-offset-7 {
        margin-left: 58.33333%
    }
    .large-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .large-offset-8 {
        margin-left: 66.66667%
    }
    .large-10 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .large-offset-9 {
        margin-left: 75%
    }
    .large-11 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .large-offset-10 {
        margin-left: 83.33333%
    }
    .large-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .large-offset-11 {
        margin-left: 91.66667%
    }
    .large-up-1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-1>.column,
    .large-up-1>.columns {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .large-up-2 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-2>.column,
    .large-up-2>.columns {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .large-up-3 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-3>.column,
    .large-up-3>.columns {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .large-up-4 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-4>.column,
    .large-up-4>.columns {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .large-up-5 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-5>.column,
    .large-up-5>.columns {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .large-up-6 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-6>.column,
    .large-up-6>.columns {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .large-up-7 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-7>.column,
    .large-up-7>.columns {
        -ms-flex: 0 0 14.28571%;
        flex: 0 0 14.28571%;
        max-width: 14.28571%
    }
    .large-up-8 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .large-up-8>.column,
    .large-up-8>.columns {
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%
    }
}

@media print,
screen and (min-width: 64em) and (min-width: 64em) {
    .large-expand {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
}

.row.small-unstack>.column,
.row.small-unstack>.columns {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px
}

@media print,
screen and (min-width: 64em) {
    .small-collapse>.column,
    .small-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .small-uncollapse>.column,
    .small-uncollapse>.columns {
        padding-right: .625rem;
        padding-left: .625rem
    }
}

.shrink {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%
}

.column-block {
    margin-bottom: 1.25rem
}

.column-block>:last-child {
    margin-bottom: 0
}

@media print,
screen and (min-width: 40em) {
    .column-block {
        margin-bottom: 1.875rem
    }
    .column-block>:last-child {
        margin-bottom: 0
    }
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility
}

em,
i {
    font-style: italic;
    line-height: inherit
}

strong,
b {
    font-weight: bold;
    line-height: inherit
}

small {
    font-size: 80%;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "open sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizeLegibility
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    line-height: 0;
    color: #cacaca
}

h1 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h5 {
    font-size: 1.0625rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h6 {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

@media print,
screen and (min-width: 40em) {
    h1 {
        font-size: 3rem
    }
    h2 {
        font-size: 2.5rem
    }
    h3 {
        font-size: 1.9375rem
    }
    h4 {
        font-size: 1.5625rem
    }
    h5 {
        font-size: 1.25rem
    }
    h6 {
        font-size: 1rem
    }
}

a {
    line-height: inherit;
    color: #01a9fb;
    text-decoration: none;
    cursor: pointer
}

a:hover,
a:focus {
    color: #0191d8
}

a img {
    border: 0
}

hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0
}

ul,
ol,
dl {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6
}

li {
    font-size: inherit
}

ul {
    margin-left: 1.25rem;
    list-style-type: disc
}

ol {
    margin-left: 1.25rem
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-left: 1.25rem;
    margin-bottom: 0
}

dl {
    margin-bottom: 1rem
}

dl dt {
    margin-bottom: .3rem;
    font-weight: bold
}

blockquote {
    margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca
}

blockquote,
blockquote p {
    line-height: 1.6;
    color: #8a8a8a
}

cite {
    display: block;
    font-size: .8125rem;
    color: #8a8a8a
}

cite:before {
    content: "— "
}

abbr,
abbr[title] {
    border-bottom: 1px dotted #0a0a0a;
    cursor: help;
    text-decoration: none
}

figure {
    margin: 0
}

code {
    padding: .125rem .3125rem .0625rem;
    border: 1px solid #cacaca;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a
}

kbd {
    margin: 0;
    padding: .125rem .25rem 0;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #0a0a0a;
    border-radius: 2px
}

.subheader {
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a
}

.lead {
    font-size: 125%;
    line-height: 1.6
}

.stat {
    font-size: 2.5rem;
    line-height: 1
}

p+.stat {
    margin-top: -1rem
}

ul.no-bullet,
ol.no-bullet {
    margin-left: 0;
    list-style: none
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

@media print,
screen and (min-width: 40em) {
    .medium-text-left {
        text-align: left
    }
    .medium-text-right {
        text-align: right
    }
    .medium-text-center {
        text-align: center
    }
    .medium-text-justify {
        text-align: justify
    }
}

@media print,
screen and (min-width: 64em) {
    .large-text-left {
        text-align: left
    }
    .large-text-right {
        text-align: right
    }
    .large-text-center {
        text-align: center
    }
    .large-text-justify {
        text-align: justify
    }
}

.show-for-print {
    display: none !important
}

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: black !important;
        text-shadow: none !important
    }
    .show-for-print {
        display: block !important
    }
    .hide-for-print {
        display: none !important
    }
    table.show-for-print {
        display: table !important
    }
    thead.show-for-print {
        display: table-header-group !important
    }
    tbody.show-for-print {
        display: table-row-group !important
    }
    tr.show-for-print {
        display: table-row !important
    }
    td.show-for-print {
        display: table-cell !important
    }
    th.show-for-print {
        display: table-cell !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: ''
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    pre,
    blockquote {
        border: 1px solid #8a8a8a;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: 0.5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    .print-break-inside {
        page-break-inside: auto
    }
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.625em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #01a9fb;
    color: #fefefe
}

[data-whatinput='mouse'] .button {
    outline: 0
}

.button:hover,
.button:focus {
    background-color: #0190d5;
    color: #fefefe
}

.button.tiny {
    font-size: .6rem
}

.button.small {
    font-size: .75rem
}

.button.large {
    font-size: 1.25rem
}

.button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0
}

.button.primary {
    background-color: #01a9fb;
    color: #fefefe
}

.button.primary:hover,
.button.primary:focus {
    background-color: #0187c9;
    color: #fefefe
}

.button.secondary {
    background-color: #767676;
    color: #fefefe
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: #5e5e5e;
    color: #fefefe
}

.button.success {
    background-color: #3adb76;
    color: #fefefe
}

.button.success:hover,
.button.success:focus {
    background-color: #22bb5b;
    color: #fefefe
}

.button.warning {
    background-color: #ffae00;
    color: #fefefe
}

.button.warning:hover,
.button.warning:focus {
    background-color: #cc8b00;
    color: #fefefe
}

.button.alert {
    background-color: #f04124;
    color: #fefefe
}

.button.alert:hover,
.button.alert:focus {
    background-color: #cf2a0e;
    color: #fefefe
}

.button.disabled,
.button[disabled] {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
    background-color: #01a9fb;
    color: #fefefe
}

.button.disabled.primary,
.button[disabled].primary {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.primary,
.button.disabled.primary:hover,
.button.disabled.primary:focus,
.button[disabled].primary,
.button[disabled].primary:hover,
.button[disabled].primary:focus {
    background-color: #01a9fb;
    color: #fefefe
}

.button.disabled.secondary,
.button[disabled].secondary {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.secondary,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
    background-color: #767676;
    color: #fefefe
}

.button.disabled.success,
.button[disabled].success {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.success,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success,
.button[disabled].success:hover,
.button[disabled].success:focus {
    background-color: #3adb76;
    color: #fefefe
}

.button.disabled.warning,
.button[disabled].warning {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.warning,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning,
.button[disabled].warning:hover,
.button[disabled].warning:focus {
    background-color: #ffae00;
    color: #fefefe
}

.button.disabled.alert,
.button[disabled].alert {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.alert,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
    background-color: #f04124;
    color: #fefefe
}

.button.hollow {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.hollow,
.button.hollow:hover,
.button.hollow:focus {
    background-color: transparent
}

.button.hollow.disabled,
.button.hollow.disabled:hover,
.button.hollow.disabled:focus,
.button.hollow[disabled],
.button.hollow[disabled]:hover,
.button.hollow[disabled]:focus {
    background-color: transparent
}

.button.hollow:hover,
.button.hollow:focus {
    border-color: #01557e;
    color: #01557e
}

.button.hollow:hover.disabled,
.button.hollow:hover[disabled],
.button.hollow:focus.disabled,
.button.hollow:focus[disabled] {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.hollow.primary {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.hollow.primary:hover,
.button.hollow.primary:focus {
    border-color: #01557e;
    color: #01557e
}

.button.hollow.primary:hover.disabled,
.button.hollow.primary:hover[disabled],
.button.hollow.primary:focus.disabled,
.button.hollow.primary:focus[disabled] {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.hollow.secondary {
    border: 1px solid #767676;
    color: #767676
}

.button.hollow.secondary:hover,
.button.hollow.secondary:focus {
    border-color: #3b3b3b;
    color: #3b3b3b
}

.button.hollow.secondary:hover.disabled,
.button.hollow.secondary:hover[disabled],
.button.hollow.secondary:focus.disabled,
.button.hollow.secondary:focus[disabled] {
    border: 1px solid #767676;
    color: #767676
}

.button.hollow.success {
    border: 1px solid #3adb76;
    color: #3adb76
}

.button.hollow.success:hover,
.button.hollow.success:focus {
    border-color: #157539;
    color: #157539
}

.button.hollow.success:hover.disabled,
.button.hollow.success:hover[disabled],
.button.hollow.success:focus.disabled,
.button.hollow.success:focus[disabled] {
    border: 1px solid #3adb76;
    color: #3adb76
}

.button.hollow.warning {
    border: 1px solid #ffae00;
    color: #ffae00
}

.button.hollow.warning:hover,
.button.hollow.warning:focus {
    border-color: #805700;
    color: #805700
}

.button.hollow.warning:hover.disabled,
.button.hollow.warning:hover[disabled],
.button.hollow.warning:focus.disabled,
.button.hollow.warning:focus[disabled] {
    border: 1px solid #ffae00;
    color: #ffae00
}

.button.hollow.alert {
    border: 1px solid #f04124;
    color: #f04124
}

.button.hollow.alert:hover,
.button.hollow.alert:focus {
    border-color: #811a09;
    color: #811a09
}

.button.hollow.alert:hover.disabled,
.button.hollow.alert:hover[disabled],
.button.hollow.alert:focus.disabled,
.button.hollow.alert:focus[disabled] {
    border: 1px solid #f04124;
    color: #f04124
}

.button.clear {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.clear,
.button.clear:hover,
.button.clear:focus {
    background-color: transparent
}

.button.clear.disabled,
.button.clear.disabled:hover,
.button.clear.disabled:focus,
.button.clear[disabled],
.button.clear[disabled]:hover,
.button.clear[disabled]:focus {
    background-color: transparent
}

.button.clear:hover,
.button.clear:focus {
    border-color: #01557e;
    color: #01557e
}

.button.clear:hover.disabled,
.button.clear:hover[disabled],
.button.clear:focus.disabled,
.button.clear:focus[disabled] {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.clear,
.button.clear.disabled,
.button.clear[disabled],
.button.clear:hover,
.button.clear:hover.disabled,
.button.clear:hover[disabled],
.button.clear:focus,
.button.clear:focus.disabled,
.button.clear:focus[disabled] {
    border-color: transparent
}

.button.clear.primary {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.clear.primary:hover,
.button.clear.primary:focus {
    border-color: #01557e;
    color: #01557e
}

.button.clear.primary:hover.disabled,
.button.clear.primary:hover[disabled],
.button.clear.primary:focus.disabled,
.button.clear.primary:focus[disabled] {
    border: 1px solid #01a9fb;
    color: #01a9fb
}

.button.clear.primary,
.button.clear.primary.disabled,
.button.clear.primary[disabled],
.button.clear.primary:hover,
.button.clear.primary:hover.disabled,
.button.clear.primary:hover[disabled],
.button.clear.primary:focus,
.button.clear.primary:focus.disabled,
.button.clear.primary:focus[disabled] {
    border-color: transparent
}

.button.clear.secondary {
    border: 1px solid #767676;
    color: #767676
}

.button.clear.secondary:hover,
.button.clear.secondary:focus {
    border-color: #3b3b3b;
    color: #3b3b3b
}

.button.clear.secondary:hover.disabled,
.button.clear.secondary:hover[disabled],
.button.clear.secondary:focus.disabled,
.button.clear.secondary:focus[disabled] {
    border: 1px solid #767676;
    color: #767676
}

.button.clear.secondary,
.button.clear.secondary.disabled,
.button.clear.secondary[disabled],
.button.clear.secondary:hover,
.button.clear.secondary:hover.disabled,
.button.clear.secondary:hover[disabled],
.button.clear.secondary:focus,
.button.clear.secondary:focus.disabled,
.button.clear.secondary:focus[disabled] {
    border-color: transparent
}

.button.clear.success {
    border: 1px solid #3adb76;
    color: #3adb76
}

.button.clear.success:hover,
.button.clear.success:focus {
    border-color: #157539;
    color: #157539
}

.button.clear.success:hover.disabled,
.button.clear.success:hover[disabled],
.button.clear.success:focus.disabled,
.button.clear.success:focus[disabled] {
    border: 1px solid #3adb76;
    color: #3adb76
}

.button.clear.success,
.button.clear.success.disabled,
.button.clear.success[disabled],
.button.clear.success:hover,
.button.clear.success:hover.disabled,
.button.clear.success:hover[disabled],
.button.clear.success:focus,
.button.clear.success:focus.disabled,
.button.clear.success:focus[disabled] {
    border-color: transparent
}

.button.clear.warning {
    border: 1px solid #ffae00;
    color: #ffae00
}

.button.clear.warning:hover,
.button.clear.warning:focus {
    border-color: #805700;
    color: #805700
}

.button.clear.warning:hover.disabled,
.button.clear.warning:hover[disabled],
.button.clear.warning:focus.disabled,
.button.clear.warning:focus[disabled] {
    border: 1px solid #ffae00;
    color: #ffae00
}

.button.clear.warning,
.button.clear.warning.disabled,
.button.clear.warning[disabled],
.button.clear.warning:hover,
.button.clear.warning:hover.disabled,
.button.clear.warning:hover[disabled],
.button.clear.warning:focus,
.button.clear.warning:focus.disabled,
.button.clear.warning:focus[disabled] {
    border-color: transparent
}

.button.clear.alert {
    border: 1px solid #f04124;
    color: #f04124
}

.button.clear.alert:hover,
.button.clear.alert:focus {
    border-color: #811a09;
    color: #811a09
}

.button.clear.alert:hover.disabled,
.button.clear.alert:hover[disabled],
.button.clear.alert:focus.disabled,
.button.clear.alert:focus[disabled] {
    border: 1px solid #f04124;
    color: #f04124
}

.button.clear.alert,
.button.clear.alert.disabled,
.button.clear.alert[disabled],
.button.clear.alert:hover,
.button.clear.alert:hover.disabled,
.button.clear.alert:hover[disabled],
.button.clear.alert:focus,
.button.clear.alert:focus.disabled,
.button.clear.alert:focus[disabled] {
    border-color: transparent
}

.button.dropdown::after {
    display: block;
    width: 0;
    height: 0;
    border: inset .4em;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.4em;
    display: inline-block;
    float: right;
    margin-left: 1em
}

.button.dropdown.hollow::after {
    border-top-color: #01a9fb
}

.button.dropdown.hollow.primary::after {
    border-top-color: #01a9fb
}

.button.dropdown.hollow.secondary::after {
    border-top-color: #767676
}

.button.dropdown.hollow.success::after {
    border-top-color: #3adb76
}

.button.dropdown.hollow.warning::after {
    border-top-color: #ffae00
}

.button.dropdown.hollow.alert::after {
    border-top-color: #f04124
}

.button.arrow-only::after {
    top: -0.1em;
    float: none;
    margin-left: 0
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    border-radius: 2px;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out
}

textarea {
    max-width: 100%
}

textarea[rows] {
    height: auto
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cacaca
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cacaca
}

input::placeholder,
textarea::placeholder {
    color: #cacaca
}

input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
    background-color: #e6e6e6;
    cursor: not-allowed
}

[type='submit'],
[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px
}

input[type='search'] {
    box-sizing: border-box
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 1rem
}

[type='checkbox']+label,
[type='radio']+label {
    display: inline-block;
    vertical-align: baseline;
    margin-left: .5rem;
    margin-right: 1rem;
    margin-bottom: 0
}

[type='checkbox']+label[for],
[type='radio']+label[for] {
    cursor: pointer
}

label>[type='checkbox'],
label>[type='radio'] {
    margin-right: .5rem
}

[type='file'] {
    width: 100%
}

label {
    display: block;
    margin: 0;
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a
}

label.middle {
    margin: 0 0 1rem;
    padding: .5625rem 0
}

.help-text {
    margin-top: -.5rem;
    font-size: .8125rem;
    font-style: italic;
    color: #0a0a0a
}

.input-group {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    -ms-flex-align: stretch;
    align-items: stretch
}

.input-group>:first-child {
    border-radius: 2px 0 0 2px
}

.input-group>:last-child>* {
    border-radius: 0 2px 2px 0
}

.input-group-label,
.input-group-field,
.input-group-button,
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
    margin: 0;
    white-space: nowrap
}

.input-group-label {
    padding: 0 1rem;
    border: 1px solid #cacaca;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    align-items: center
}

.input-group-label:first-child {
    border-right: 0
}

.input-group-label:last-child {
    border-left: 0
}

.input-group-field {
    border-radius: 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    height: auto;
    min-width: 0
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
    height: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0
}

legend {
    max-width: 100%;
    margin-bottom: .5rem
}

.fieldset {
    margin: 1.125rem 0;
    padding: 1.25rem;
    border: 1px solid #cacaca
}

.fieldset legend {
    margin: 0;
    margin-left: -.1875rem;
    padding: 0 .1875rem
}

select {
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cacaca;
    border-radius: 2px;
    background-color: #fefefe;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out
}

@media screen and (min-width: 0\0) {
    select {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==")
    }
}

select:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out
}

select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed
}

select::-ms-expand {
    display: none
}

select[multiple] {
    height: auto;
    background-image: none
}

.is-invalid-input:not(:focus) {
    border-color: #f04124;
    background-color: #fdebe8
}

.is-invalid-input:not(:focus)::-webkit-input-placeholder {
    color: #f04124
}

.is-invalid-input:not(:focus):-ms-input-placeholder {
    color: #f04124
}

.is-invalid-input:not(:focus)::placeholder {
    color: #f04124
}

.is-invalid-label {
    color: #f04124
}

.form-error {
    display: none;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: bold;
    color: #f04124
}

.form-error.is-visible {
    display: block
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

[data-whatinput='mouse'] .menu li {
    outline: 0
}

.menu a,
.menu .button {
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    padding: 0.7rem 1rem
}

.menu input,
.menu select,
.menu a,
.menu button {
    margin-bottom: 0
}

.menu input {
    display: inline-block
}

.menu,
.menu.horizontal {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row
}

.menu.vertical {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column
}

.menu.expanded li {
    -ms-flex: 1 1 0px;
    flex: 1 1 0px
}

.menu.simple {
    -ms-flex-align: center;
    align-items: center
}

.menu.simple li+li {
    margin-left: 1rem
}

.menu.simple a {
    padding: 0
}

@media print,
screen and (min-width: 40em) {
    .menu.medium-horizontal {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .menu.medium-vertical {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .menu.medium-expanded li {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
    .menu.medium-simple li {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
}

@media print,
screen and (min-width: 64em) {
    .menu.large-horizontal {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .menu.large-vertical {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .menu.large-expanded li {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
    .menu.large-simple li {
        -ms-flex: 1 1 0px;
        flex: 1 1 0px
    }
}

.menu.nested {
    margin-right: 0;
    margin-left: 1rem
}

.menu.icons a {
    display: -ms-flexbox;
    display: flex
}

.menu.icon-left li a {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.menu.icon-left li a img,
.menu.icon-left li a i,
.menu.icon-left li a svg {
    margin-right: .25rem
}

.menu.icon-right li a {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.menu.icon-right li a img,
.menu.icon-right li a i,
.menu.icon-right li a svg {
    margin-left: .25rem
}

.menu.icon-top li a {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.menu.icon-top li a img,
.menu.icon-top li a i,
.menu.icon-top li a svg {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    margin-bottom: .25rem;
    text-align: center
}

.menu.icon-bottom li a {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

.menu.icon-bottom li a img,
.menu.icon-bottom li a i,
.menu.icon-bottom li a svg {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    margin-bottom: .25rem;
    text-align: center
}

.menu .is-active>a {
    background: #01a9fb;
    color: #fefefe
}

.menu .active>a {
    background: #01a9fb;
    color: #fefefe
}

.menu.align-left {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.menu.align-right li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.menu.align-right li .submenu li {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.menu.align-right.vertical li {
    display: block;
    text-align: right
}

.menu.align-right.vertical li .submenu li {
    text-align: right
}

.menu.align-right .nested {
    margin-right: 1rem;
    margin-left: 0
}

.menu.align-center li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.menu.align-center li .submenu li {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.menu .menu-text {
    padding: 0.7rem 1rem;
    font-weight: bold;
    line-height: 1;
    color: inherit
}

.menu-centered>.menu {
    -ms-flex-pack: center;
    justify-content: center
}

.menu-centered>.menu li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.menu-centered>.menu li .submenu li {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.no-js [data-responsive-menu] ul {
    display: none
}

.align-right {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.align-center {
    -ms-flex-pack: center;
    justify-content: center
}

.align-justify {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.align-spaced {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.align-right.vertical.menu>li>a {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.align-center.vertical.menu>li>a {
    -ms-flex-pack: center;
    justify-content: center
}

.align-top {
    -ms-flex-align: start;
    align-items: flex-start
}

.align-self-top {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.align-bottom {
    -ms-flex-align: end;
    align-items: flex-end
}

.align-self-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.align-middle {
    -ms-flex-align: center;
    align-items: center
}

.align-self-middle {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.align-stretch {
    -ms-flex-align: stretch;
    align-items: stretch
}

.align-self-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch
}

.align-center-middle {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.small-order-1 {
    -ms-flex-order: 1;
    order: 1
}

.small-order-2 {
    -ms-flex-order: 2;
    order: 2
}

.small-order-3 {
    -ms-flex-order: 3;
    order: 3
}

.small-order-4 {
    -ms-flex-order: 4;
    order: 4
}

.small-order-5 {
    -ms-flex-order: 5;
    order: 5
}

.small-order-6 {
    -ms-flex-order: 6;
    order: 6
}

@media print,
screen and (min-width: 40em) {
    .medium-order-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .medium-order-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .medium-order-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .medium-order-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .medium-order-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .medium-order-6 {
        -ms-flex-order: 6;
        order: 6
    }
}

@media print,
screen and (min-width: 64em) {
    .large-order-1 {
        -ms-flex-order: 1;
        order: 1
    }
    .large-order-2 {
        -ms-flex-order: 2;
        order: 2
    }
    .large-order-3 {
        -ms-flex-order: 3;
        order: 3
    }
    .large-order-4 {
        -ms-flex-order: 4;
        order: 4
    }
    .large-order-5 {
        -ms-flex-order: 5;
        order: 5
    }
    .large-order-6 {
        -ms-flex-order: 6;
        order: 6
    }
}

.flex-container {
    display: -ms-flexbox;
    display: flex
}

.flex-child-auto {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.flex-child-grow {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.flex-child-shrink {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.flex-dir-row {
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-dir-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flex-dir-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-dir-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media print,
screen and (min-width: 40em) {
    .medium-flex-container {
        display: -ms-flexbox;
        display: flex
    }
    .medium-flex-child-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }
    .medium-flex-child-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }
    .medium-flex-child-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }
    .medium-flex-dir-row {
        -ms-flex-direction: row;
        flex-direction: row
    }
    .medium-flex-dir-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .medium-flex-dir-column {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .medium-flex-dir-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media print,
screen and (min-width: 64em) {
    .large-flex-container {
        display: -ms-flexbox;
        display: flex
    }
    .large-flex-child-auto {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }
    .large-flex-child-grow {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto
    }
    .large-flex-child-shrink {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto
    }
    .large-flex-dir-row {
        -ms-flex-direction: row;
        flex-direction: row
    }
    .large-flex-dir-row-reverse {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .large-flex-dir-column {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .large-flex-dir-column-reverse {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}
